/* teachers */
.main_text {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	color: black;
	padding-top: 1vh;
	padding-bottom: 1vh;

	margin-top: 1vh;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
}


.content {
  position: absolute;
  width: 100%;
  top: 15%;
  height: 85vh;
  text-align: center;
  color: black;
}
