
ul {
    padding: 0;
    list-style-type: none;
    display:inline-table;
}

li {
}

.logo {
  background-size:contain;
	background-repeat:no-repeat;
}
.school_header {

  z-index: 100;
	position: fixed;
	width: 100%;

  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;

  height:15vh;
}

.school_name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  text-transform: uppercase;
  overflow-wrap: break-word;
}
.school_name h1{
  font-size: 3vw;
}

.lang {
  top: 25%;
  text-align: center;

  height: inherit;

  text-transform: uppercase;
}
.lang h5{
  font-size: 2vw;
}


/* menu */
.menu_container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 7vw;
  height: 1vw;
  background-color: #FFF;
  margin: 1vw 0;
}

.nav {
  position: absolute;
  background-color: black;
  margin-top: 0vh;
}

.dropdown-item {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 1.5vw;
}

.dropdown-item:hover {
  background-color: white;
  color: black;
}

.invisible {
  display: none;
}
