.hover{
	outline: 100px solid rgba(255, 0, 0, 0.5) !important;
  outline-offset: -100px;
  overflow: hidden;
  position: relative;

	/* display: none; */

  height: 100%;
	border-radius: 10px;
}

.content {
	max-width: 100%;

	padding: 10vw;
  position: absolute;
  top: 15%;
  height: 85vh;

  text-align: center;
  color: black;

	padding: 4vw;
}

.content p{
  font-size: 5vw;
}

.main_image {
  text-align: center;
  margin-bottom: 5vh;
}

.main_image img {
  margin-top: 1.5vh;
  border-radius: 40px;
}

.main_text {
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;

  top: 25vh;

	display: inline-block;
	margin-bottom: 3vh;
}

.links {
  background-color: rgba(255,255,255,0.8);
  bottom: 0%;
}
