html {
  margin: 0px;
  height: 100vh;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  min-height: 100vh;

	overflow-x: hidden;
	/* overflow-y: hidden; */

	background-color: #7f8c8d;
}

.hover{
	outline: 100px solid rgba(255, 0, 0, 0.5) !important;
  outline-offset: -100px;
  overflow: hidden;
  position: relative;

	/* display: none; */

  height: 100%;
  width: 100%;
	border-radius: 10px;
}

.logo {
  background-size:contain;
	background-repeat:no-repeat;
}
.school_header {
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;

  height:15vh;
}

.school_name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  text-transform: uppercase;
  overflow-wrap: break-word;
}
.school_name h1{
  font-size: 3vw;
}

.lang {

  text-align: center;

  text-transform: uppercase;
}
.lang h5{
  font-size: 2vw;
}


/* grade level */
.grade{
	position: relative;
	height:45vh;

	padding-left: 1.25vh;
	padding-right: 1.25vh;
	margin-top: 2.5vh;

	border-radius: 40px;

	color: black;

}
.grade_container{
  display: flex;
  flex-flow: column;
  height: 85vh;

}

.row{
  flex-grow : 1;
}

.img_button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

	background-size: cover;
	background-repeat:no-repeat;

	background-color: white;

  flex-grow : 1;

}

.grade h2 {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.9);
}

#fifth {
	margin-bottom: 0vh;
}


/* day of the week */

.day{
	height:100vh;
	margin-bottom: 2.5vh;
	border-radius: 40px;
	color: black;

}

.day h2 {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.9);
}

#fri{
	margin-bottom: 0vh;
}

/* teachers */
.teacher {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	color: black;
	padding-top: 1vh;
	padding-bottom: 1vh;

	margin-top: 1vh;
}

b {
  font-size: 1.5em;
}

/* work */
.work_container{
  padding-top: 5vh;
  padding-bottom: 5vh;

  text-align: center;
  color: black;
  border-radius: 40px;
	background-color: rgba(255,255,255,0.8);

}

video {
  width: 100%;
}
